{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<style>
.example-icon-list p {
    display: inline-block;
    font-size: 16px;
    padding-left: 1em;
    vertical-align: middle;
    margin-bottom: 0;
  }
  
  .list--check li::before {
    background-image:none;
  }
  .standard {
    vertical-align: middle;
    padding: 0;
    counter-reset: standard-counter;
  }
  .standard>li::before {
    width: 10%;
  }
  .standard>li {
    list-style: none;
    display: block;
    border-top: 1px solid #bfc1c3;
    padding: 1em 0 0.5em 0;
    margin: 0;
    page-break-inside: avoid;
  }
  .updated-standard li .point {
    width: 67%;
  }
  .standard>li .point {
    padding-left: 3em
  }
  .standard>li .point {
    font-size: 18px;
    line-height: 1.2;
  }
  .circle-step {
    min-width: 36px;
    min-height: 38px;
    line-height: 36px;
  }
  .circle {
    display: inline-block;
    border-radius: 50%;
    background: #0b0c0c;
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin: 0em;
  }
  .panel_side {
    display: block;
    padding-top: 15px;
    background-color: #DEE0E2;
  }
  .panel_side_inner {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
  }
  .display_field {
    margin-bottom: 20px;
    display: block;
  }
  .display_field_value h3 {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    text-transform: none;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .income-img {
    width: 283px;
  }
  @media(max-width:640px) {
    .income-img {
      width: 100%
    }
  }
</style>

<main id="content" role="main">
    

  
    <div class="grid-row">
      <div class="column-full">
        <div class="phase-banner">
            <p>
              <strong class="phase-tag">BETA</strong>
              <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
          </div>
          
      </div>
    </div>
    
    <div class="grid-row">
    
    <div class="column-two-thirds">
              <div class="heading-group">
        <p>Challenge an enquiry letter</p>
        <h1 class="heading-large">We need proof that you were entitled to claim free prescriptions between 1 November and 30 November 2017</h1>
        </div>
<!--    <h1 class="heading-large">Examples of proof for NHS exemptions</h1>-->
        
        <div class="panel panel-border-wide">
  <p>
    You have 14 days from today to send us your proof.
  </p>
</div>
        
        <h3 class="heading-medium" style="margin-top: 2em">Type of proof we need to see</h3>
        
        <p>We need one example of proof from the following list. Your proof must have been valid at the time you claimed a free prescription.</p>
        
        <p>Select the reason you were entitled to help with your health costs to see what you need to send:</p>
        
        <p><span class="strong">Award letter</span></p>
        
             <details>
        <summary><span class="summary">Income-based Jobseeker's Allowance (JSA)</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
<p>A clear image of every page of your JSA award letter. The image needs to show that your JSA was income-based.</p>
                                         
        </div>
    </details>
        
    <details>
        <summary><span class="summary">Income Support or income-related Employment and Support Allowance (ESA)</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
            <p>A clear image of every page of your Income Support or ESA award letter.</p>
            <p>If you’re sending an image of your ESA award letter it needs to show that you receive income-related ESA.</p>
            
        </div>
    </details>
        
                    <details>
        <summary><span class="summary">Pension Credit Guarantee Credit</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
            <p>A clear image of your or your partner's Pension Credit Guarantee Credit award letter.</p>
<!--            <img src="/public/images/prototypes/challenge/esa-income-letter2.png" alt="Example of an maternity exemption certificate card in its entirety with all details displayed clearly" width="100%">-->
        </div>
    </details>
    <details>
      <summary><span class="summary">Universal Credit</span></summary>
      <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
        <p>A clear image of every page of your Universal Credit letter or statement.</p>
        <p>Your Universal Credit exemption must have been valid at the time you claimed a free prescription.</p>
         
         <p>You are entitled to claim free prescriptions if your earnings during your most recent assessment period were:<p>
            
            <ul class="list list-bullet">
              <li>£435 or less</li>
              <li>£935 or less if your Universal Credit includes a payment for a child or you have limited capability for work or work-related activity</li>
              </ul>
          <p>If you claim Universal Credit as a couple, the earnings limit applies to the joint income of you and your partner.</p>
          
          </p>
          </p>
        </p>
<!--            <img src="/public/images/prototypes/challenge/esa-income-letter2.png" alt="Example of an maternity exemption certificate card in its entirety with all details displayed clearly" width="100%">-->
      </div>
  </details>
        <br>
        
        <p><span class="strong">NHS certificate</span></p>
        
    <details>
        <summary><span class="summary">Medical exemption</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
            <p>A clear image of your medical exemption certificate.</p>
           

        </div>
    </details>
        
    <details>
        <summary><span class="summary">Maternity exemption</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
            <p>A clear image of your maternity exemption certificate.</p>
            
                        <p>This will either be a paper certificate you were sent by post or a digital certificate you were sent by email.</p>
           
        </div>
    </details>
        
            <details>
        <summary><span class="summary">HC2 certificate</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
            <p>A clear image of your HC2 certificate. The image needs to show the certificate number, valid from, valid until, and for fields.</p>
           
        </div>
    </details>
        
                    <details>
        <summary><span class="summary">NHS tax credit exemption</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                        <p>A clear image of your NHS tax credit exemption certificate.</p>
            
            
        </div>
    </details>
        
            <details>
        <summary><span class="summary">Prescription prepayment certificate (PPC)</span></summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                        <p>A clear image of your PPC.</p>
                        <p>This will either be a paper certificate you were sent by post or a digital certificate you were sent by email.</p>
          
                                    
           
        </div>
    </details>
        
          
<h3 class="heading-medium" style="margin-top: 2em">How to send your proof</h3>
<h4 class="heading-small">
</h4>
                <ol class="standard">
                    <li style="border-top: none;">
                        <span class="circle circle-step">1</span>
                        <div class="point">
                            <p>Take a photo, scan or screenshot of your proof.</p>
                            <p>If you're taking a photo, use a mobile phone or digital camera.</p>
                        </div>
                    </li>
                    <li>
                        <span class="circle circle-step" style="">2</span>
                        <div class="point">
                            <p>Check the image is clear and you can read the information.</p> 
                        </div>
                    </li>
                    <li>
                        <span class="circle circle-step" style="margin-top:0.8em">3</span>
                        <div class="point">
                            <p>Send the image as an email attachment to:<a href="mailto:nhsbsa.pecs@nhsbsa.nhs.uk">nhsbsa.pecs@nhsbsa.nhs.uk </a><br> </p>
                            <p>You must include your reference number 1119898989.</p>
                  
                            <p>We need to be able to confirm your identity, so your email must also include your:</p>
                                    <ul class="list list-bullet">
                                    
                                      <li>first name and surname (family name)</li>
                                      <li>date of birth</li>
                                      <li>address including postcode </li>
                                    </ul>

                        </div>
                    </li>
                    <li>
                        <span class="circle circle-step">4</span>
                        <div class="point">
                            <p>Once we receive your email, we will check your proof and contact you within 2 working days.
<br></p>
                        </div>
                    </li>
                </ol>


                       <h3 class="heading-small">Or you can send your proof by post</h3>
                       <p></p>       
<p>Send a photocopy of your proof to us and include your:</p>
<ul class="list list-bullet">
  <li>reference number 1119898989</li>
  <li>first name and surname (family name)</li>
  <li>date of birth</li>
  <li>address including postcode </li>
</ul>

<p>Send the copy of your proof to:</p>
<p class="panel" style="border:none; padding-top:0">
      Prescription Exemption Checking Team<br>
      NHSBSA<br>
       Bridge House<br>
      152 Pilgrim Street<br>
      Newcastle Upon Tyne <br>
      NE1 6SN
      </p>

<p>Once we receive your proof by post, we will check it and contact you within 5 working days.</p>

        


      
    </div>
    </div>
  
</main>


{% endblock %}