{% extends "layout_bsa.html" %}
{% block page_title %}
Pay or challenge a Penalty Charge Notice
{% endblock %}
{% block content %}
<main id="content" role="main">
   <div class="grid-row">
      <div class="column-full">
         <div class="phase-banner">
            <p>
               <strong class="phase-tag">BETA</strong>
               <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
         </div>
      </div>
   </div>
   
   <h1 class="heading-xlarge">DECS penalty charge notice journey</h1>
   
   <!-- <h3 class="heading-large">Latest content for team reference</h3> -->
   <details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details3">
      <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text3" tabindex="0" aria-expanded="false">
         <span class="nhsuk-details__summary-text">Sprint .....</span>
      </summary>
      <div class="nhsuk-details__text" id="nhsuk-details__text3" aria-hidden="true">
         <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0" nhsuk-polyfilled="true" id="nhsuk-details4">
            <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text4" tabindex="0" aria-expanded="false">
               
               <span class="nhsuk-details__summary-text"><small>Version 1</small></span>
            </summary>
            <div class="nhsuk-details__text" id="nhsuk-details__text4" aria-hidden="true">
               <h2 class="heading-medium">Designing an 'Apply' service</h2>
             <p>hduowhfjlej</p>
             <h4 class="heading-small">Hypothesis A</h4>
             <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that users who are unable to apply online will <strong>need to be guided</strong> to help get them a successful application. Using signpost screens will <strong>help the user understand</strong> why they are unable to continue with the online application and know where to go next.</p>
             <hr>

             
             <h3 class="nhsuk-heading-m">Testing</h3>
             <ul class="nhsuk-list nhsuk-list--bullet">
              <li>For DWP journey enter postcode - NE1 3JA</li>
              <li>For BSA journey enter postcode - NE2 4XL</li>
             </ul>
                
             </ul>
             <hr>
               <a class="nhsuk-button" href="v1/uc-start">DECS PCN V1 start</a>
               

               <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
                  <a class="nhsuk-action-link__link" href="https://miro.com/app/board/uXjVOQVpBFo=/?moveToWidget=3458764520918973225&cot=14">
                    
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                        </path>
                     </svg>
                     <span class="nhsuk-action-link__text">View user journey</span>
                  </a>
               </div>
            </div>
         </details>
      </div>
   </details>
   
  
</main>
<style>
   .nhsuk-expander {
  background-color: #ffffff;
  border: 1px solid #d8dde0;
  border-bottom-width: 4px; }
  .nhsuk-expander:hover {
    border-color: #aeb7bd; }
  .nhsuk-expander .nhsuk-details__summary {
    background-color: #ffffff;
    border-top: 4px solid transparent;
    display: block;
    padding: 20px 24px 24px; }
    @media (max-width: 40.0525em) {
      .nhsuk-expander .nhsuk-details__summary {
        padding: 12px 16px 16px; } }
    .nhsuk-expander .nhsuk-details__summary:before {
      display: none !important; }
    .nhsuk-expander .nhsuk-details__summary:hover .nhsuk-details__summary-text {
      color: #7C2855; }

    .nhsuk-expander .nhsuk-details__summary:focus {
      box-shadow: none; }

      .nhsuk-expander .nhsuk-details__summary:focus .nhsuk-details__summary-text {
        background-color: #ffeb3b;
        box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
        color: #212b32;
        outline: 4px solid transparent;
        text-decoration: none;
        background: #ffeb3b url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__plus' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='002f5c'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M12 8v8M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
        background-size: 32px 32px; }

  .nhsuk-expander .nhsuk-details__summary-text {
    background: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__plus' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='%23005eb8'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M12 8v8M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
    background-size: 32px 32px;
    color: #005eb8;
    cursor: pointer;
    display: inline-block;
    padding: 4px 4px 4px 38px;
    position: relative; }

  .nhsuk-expander .nhsuk-details__text {
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    border-left: 0;
    margin-left: 0;
    margin-top: 0; }
    @media (min-width: 40.0625em) {
      .nhsuk-expander .nhsuk-details__text {
        padding-bottom: 24px; } }
    @media (min-width: 40.0625em) {
      .nhsuk-expander .nhsuk-details__text {
        padding-left: 24px; } }
    @media (min-width: 40.0625em) {
      .nhsuk-expander .nhsuk-details__text {
        padding-right: 24px; } }
    @media (min-width: 40.0625em) {
      .nhsuk-expander .nhsuk-details__text {
        padding-top: 0; } }

.nhsuk-expander[open] {
  border-bottom-width: 1px; }
  .nhsuk-expander[open] .nhsuk-details__summary:focus .nhsuk-details__summary-text {
    background: #ffeb3b url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__minus' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='002f5c'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
    /* [3] */
    background-size: 32px 32px; }
  .nhsuk-expander[open] .nhsuk-details__summary:focus:hover .nhsuk-details__summary-text {
    text-decoration: none; }
  .nhsuk-expander[open] .nhsuk-details__summary-text {
    background: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__minus' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='%23005eb8'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat;
    /* [3] */
    background-size: 32px 32px; }

.nhsuk-expander-group {
  
  margin-bottom: 16px; }
  .nhsuk-expander-group > .nhsuk-details {
    margin-bottom: 8px; }
    @media (min-width: 40.0625em) {
      .nhsuk-expander-group > .nhsuk-details {
        margin-bottom: 8px; } }
  @media (min-width: 40.0625em) {
    .nhsuk-expander-group {
      margin-bottom: 24px; } }

.nhsuk-details + h2,
.nhsuk-details + .nhsuk-heading-l {
  padding-top: 16px; }
  @media (min-width: 40.0625em) {
    .nhsuk-details + h2,
    .nhsuk-details + .nhsuk-heading-l {
      padding-top: 24px; } }

.nhsuk-button {
  font-weight: 400;
  font-size: 20px;
  font-size: 4.6rem;
  line-height: 1.5;
  margin-bottom: 28px;
  -webkit-appearance: none;
  background-color: #007f3b;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 4px 0 #00401e;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: auto;
  /* 2 */
  /* 3 */
  /* 4 */ }
  @media (min-width: 40.0625em) {
    .nhsuk-button {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.47368; } }
  @media print {
    .nhsuk-button {
      font-size: 14pt;
      line-height: 1.15; } }
  @media (min-width: 40.0625em) {
    .nhsuk-button {
      margin-bottom: 36px; } }
  @media (max-width: 40.0525em) {
    .nhsuk-button {
      padding: 8px 16px; } }
  .nhsuk-button:link, .nhsuk-button:visited, .nhsuk-button:active, .nhsuk-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .nhsuk-button::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .nhsuk-button:hover {
    background-color: #00662f; }
  .nhsuk-button:focus {
    background: #ffeb3b;
    box-shadow: 0 4px 0 #212b32;
    color: #212b32;
    outline: 4px solid transparent; }
    .nhsuk-button:focus:visited {
      color: #212b32; }
      .nhsuk-button:focus:visited:active {
        color: #ffffff; }
  .nhsuk-button:active {
    background: #00401e;
    box-shadow: none;
    color: #ffffff;
    top: 4px; }
  .nhsuk-button::before {
    background: transparent;
    bottom: -6px;
    content: '';
    display: block;
    left: -2px;
    position: absolute;
    right: -2px;
    top: -2px; }
  .nhsuk-button:active::before {
    top: -6px; }

   
</style>
{% endblock %}