{% extends "layout_bsa.html" %}
​
{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}
​
{% block content %}
​
<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>
  <div class="heading-group">
        
   
    
    <h1 class="heading-large">Something's gone wrong</h1>
  <div class="grid-row">

    </div>
  </div>
​     

<div>
  <p>We are currently experiencing a problem with this service and are working to fix it as soon as possible.</p>
  <p>If you have any other queries please try again later or contact us on:</p>
    </div>
  </div>
  <br>
      <h2><span class="strong">For prescriptions</span></h2>
      <br>
      <p>Email us at: nhsbsa.pecs@nhsbsa.nhs.uk</p>
<p>Call us on: 0300 330 9291</p>

</ul>

<h2> <span class="strong">For dental treatment</span></h2>
<br>

<p>Email us at: nhsbsa.decs@nhsbsa.nhs.uk</p>
<p>Call us on: 0300 330 1293</p>

</ul>



    </p>
  </div>

 
        
     
        
            
  </div>
  </div>
      
  
  <style>
    .panel panel-border-narrow{
      margin-top: 1.5rem;
    }
  </style>
</main>
{% endblock %}
