{% extends "layout_bsa.html" %}
​
{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}
​
{% block content %}
​
<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>
  <div class="heading-group">
        
   
    
    <h1 class="heading-large">This online service is temporarily unavailable</h1>
  <div class="grid-row">

    </div>
  </div>
​     

<div>
  <p>We are currently performing essential maintenance. This service will be unavailable from 14 January 2022 06:00 to 22 December 2022 08:30.</p>
  <p>If you have any other queries you can contact us:</p>
    </div>
  </div>
  <br>
      <h2><span class="strong">For prescriptions</span></h2>
      <br>

<p>Call us on 0300 330 9291 (this call will be charged at a local rate)</p>
<p>Lines are available Monday to Friday from 8am to 6pm and Saturday from 9am to 3pm.</p>
<p>Email us at nhsbsa.pecs@nhsbsa.nhs.uk</p>

</ul>

<h2> <span class="strong">For dental treatment</span></h2>
<br>

  
<p>Call us on 0300 330 1293 (this call will be charged at a local rate)</p>
<p>Lines are available Monday to Friday from 8am to 6pm and Saturday from 9am to 3pm.</p>
<p>Email us at nhsbsa.decs@nhsbsa.nhs.uk</p>
</ul>



    </p>
  </div>

 
        
     
        
            
  </div>
  </div>
      
  
  <style>
    .panel panel-border-narrow{
      margin-top: 1.5rem;
    }
  </style>
</main>
{% endblock %}
