{% extends "layout_bsa.html" %}

{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>
  <div class="heading-group">
        
    <p>Challenge an enquiry letter</p>
    
    <h1 class="heading-large">An exemption has been confirmed</h1>
  <div class="grid-row">
    
    <div class="column-two-thirds">
      

      <div class="done-panel">
        
        <h1 class="heading-large"><span id="done-tick"> </span>Thank you</h1>
        <h2 class="heading-medium">Your case has now been closed.</h2>
    
      </div>

     
   
        </div>
    </div>
  </div>
  <p>We have matched an exemption based on the details you have given.</p>
      
        
                <p class="panel panel-border-wide"><span class="">Michelle Doe</span><br>
      Reference number 01234567890</p>

      
      <ul class="list options-list">
        <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
      </ul>
    

      <h3 class="heading-medium">
        How to avoid a future enquiry letter
      </h3>
        
        <p>We match exemptions automatically using a combination of your:</p>
      
      <ul class="list list-bullet">
        <li>
          name
        </li>
       <li>
         address
        </li>
                 <li>
         date of birth
        </li>
        <li>NHS number</li>
      </ul>
        
        <p>Make sure these are correct at your GP surgery, dental practice, and any benefits organisations.</p>
             
        
        <p>If any of your details are not up to date, you may receive another enquiry letter in the future.</p>
        <h3 class="heading-medium">Important information for any future claims</h3> 
        <div class="panel panel-border-wide">
          
          <p>If you are in receipt of Universal Credit, your entitlement to free NHS prescriptions and dental treatment depends on your earnings for the most recent assessment period. </p>
          <p>You're entitled if your earnings during that period were:</p>
        <ul class="list list-bullet">
          <li>£435 or less</li>
          <li>£935 or less if your Universal Credit includes an element for a child, or if you have a limited capability for work or limited capability for work and work related activity.</li>
          </ul>
          <p>'Most recent assessment period' means the assessment period that ended immediately before the date you claimed free NHS prescriptions or dental treatment. It runs for a calendar month.</p>
          <p>If you claim universal credit as a couple, the earnings limit applies to the joint income of you and your partner.</p>
          
                
            </div>
            <br>
            <a href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">Check if you are currently entitled to help with your health costs.</a>
              
                
      <h3 class="heading-medium" style="margin-top: 2em">Feedback</h3>
      <p>Leaving feedback only takes 5 minutes. Your comments are extremely helpful and will help us to provide a better service.
        <p>
          <a class="" href="feedback">Leave feedback</a>
        </p> 
      </h4>   
  
  
  
          
  
     
  
 
   

</main> 

{% endblock %}