{% extends "layout_bsa.html" %}
​
{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}
​
{% block content %}
​
<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>
  <div class="heading-group">
        
    <p>Challenge a Penalty Charge Notice</p>
    
    <h1 class="heading-large">This case has been closed</h1>
  <div class="grid-row">
    
    <div class="column-two-thirds">
      
      <div class="done-panel">
        <h1 class="heading-large">Thank you</h1>
        <h2 class="heading-medium">You do not need to do anything else.</h2>
      </div>
        </div>
    </div>
  </div>
  <p>We have had confirmation that the person named below has died.</p>
  <br>
        
                <p class="panel panel-border-wide"><span class="">Michelle Doe</span><br>
      Reference number 0123456789</p>
​
      
      <ul class="list options-list">
        <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
      </ul>
    
​
      
        
<p>There should be no further correspondence sent about this. Contact us if you receive anything further.</p>
​
      
  <h2 class="heading-medium">Feedback</h2>
  
  <p>
    Leaving feedback only takes 5 minutes. Your comments are extremely helpful and will help us to provide a better service.
  </p>
  <p>
    <a class="" href="feedback">Leave feedback</a>
  </p> 
      
  <p id="usermail"class="visually-hidden">{{hasmail}}</p>
      </div>
    
  </div>
​
</main>
​
{% endblock %}
