{% extends "layout_bsa.html" %}
​
{% block page_title %}
  Pay a Penalty Charge Notice
{% endblock %}
​
{% block content %}
​
<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      <div class="phase-banner">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
          </p>
        </div>
    </div>
  </div>
  <div class="heading-group">
        
    <p>Challenge a Penalty Charge Notice</p>
    
    <h1 class="heading-large">This case has been closed</h1>
  <div class="grid-row">
    
    <div class="column-two-thirds">
      
      <div class="done-panel">
        
        <h1 class="heading-large"><span id="done-tick"> </span>Thank you</h1>
        <h2 class="heading-medium">You do not need to do anything else.</h2>
    
      </div>
    
    
      
    </p>
   </p>
        </div>
    </div>
  </div>
        
                <p class="panel panel-border-wide"><span class="">Michelle Doe</span><br>
      Reference number 0123456789</p>

      
      <ul class="list options-list">
        <li><a class="icon print-icon" href="javascript:window.print();">Print this page</a></li>
      </ul>
    
​     

<div>
  <summary><span class="summary">There should be no further correspondence sent about this. Contact us if you receive anything further.</span></summary>
    </div>
  </div>
  <br>
      <p>For prescriptions</p>
<ul class="list list-bullet"> 
<li>Call us on 0300 330 9291 (this call will be charged at a local rate)</li>
<li>Email us at <a href="mailto:nhsbsa.pecs@nhsbsa.nhs.uk">nhsbsa.pecs@nhsbsa.nhs.uk</a></li>
</ul>

<p>For dental treatment</p>
<ul class="list list-bullet"> 
<li>Call us on 0300 330 1293 (this call will be charged at a local rate)</li>
<li>Email us at <a href="mailto:nhsbsa.decs@nhsbsa.nhs.uk">nhsbsa.decs@nhsbsa.nhs.uk</a></li>
</ul>



    </p>
  </div>

 
        
     
        
            
  </div>
  </div>
      
  <h2 class="heading-medium">Feedback</h2>
  
  <p>
    Leaving feedback only takes 5 minutes. Your comments are extremely helpful and will help us to provide a better service.
  </p>
  <p>
    <a class="" href="feedback">Leave feedback</a>
  </p> 
      
  <p id="usermail"class="visually-hidden">{{hasmail}}</p>
      </div>
    
  </div>
  <style>
    .panel panel-border-narrow{
      margin-top: 1.5rem;
    }
  </style>
</main>
{% endblock %}
